<div class="container">
  <h1>Table Heading</h1>
  <div class="scroll-container">
    <div class="scrollbar" #topScrollbar (scroll)="syncScroll('top')">
      <div class="scroll-content" [style.width.px]="tableWidth"></div>
    </div>
    <div class="table-wrapper" #tableWrapper>
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let col of columns">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td *ngFor="let col of columns">{{ row[col] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="scrollbar" #bottomScrollbar (scroll)="syncScroll('bottom')">
      <div class="scroll-content" [style.width.px]="tableWidth"></div>
    </div>
  </div>
</div>
